[Unit]
Description=Postify scheduled one-shot import

[Timer]
OnCalendar=@ON_CALENDAR_1@
OnCalendar=@ON_CALENDAR_2@
OnCalendar=@ON_CALENDAR_3@
Timezone=@TIMEZONE@
Persistent=true
Unit=postify-run-once.service

[Install]
WantedBy=timers.target
